.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e2e2e;
}

.modalMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2e2e2e;
  width: 100%;
  height: 100%;
  color: white;
}

.carouselDivButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 25px 8px;
  padding: 0px;
}
.carouselImageContainer {
  position: relative;
  top: 0;
  left: 0;
}
.carouselImageRelative {
  height: 112px;
  width: 200px;
  position: relative;
  top: 0;
  left: 0;
}
.carouselImageAbsolete {
  position: absolute;
  top: 34%;
  left: 25%;
}
.carouselImage {
  height: 112px;
  width: 200px;
}

.closeButtonDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
}
.closeButton {
  background-color: transparent;
  border: none;
  height: 48px;
  width: 48px;
  margin-top: 24px;
  margin-right: 24px;
}
.closeButton:hover {
  background-color: transparent;
  cursor: pointer;
}
.videoContainer {
  display: flex;
  align-items: center;
}
.navButton {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
}
.carouselDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.videoButton {
  margin: 8px;
  width: 200px;
  height: 112px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

/* @media (min-width: 1440px) {

} */
@media (max-width: 1440px) and (min-width: 1024px) {
  .carouselDiv {
    background-color: black;
  }
  .carouselImage {
    width: 144px;
    height: 84px;
  }
  .carouselImageRelative {
    width: 144px;
    height: 84px;
  }
  .carouselImageAbsolete {
    width: 59px;
    height: 16px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .carouselDiv {
    background-color: black;
  }
  .carouselImage {
    width: 102px;
    height: 60px;
  }
  .carouselImageRelative {
    width: 102px;
    height: 60px;
  }
  .carouselImageAbsolete {
    width: 59px;
    height: 16px;
  }
}
@media (max-width: 768px) and (min-width: 375px) {
}
