.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e2e2e;
}

.modalMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2e2e2e;
  width: 100%;
  height: 100%;
  color: white;
}

.carouselDivButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 25px 8px;
  padding: 0px;
}
.carouselImageContainer {
  position: relative;
  top: 0;
  left: 0;
}
.carouselImageRelative {
  height: 112px;
  width: 200px;
  position: relative;
  top: 0;
  left: 0;
}
.carouselImageAbsolete {
  position: absolute;
  top: 42px;
  left: 50px;
}
.carouselImage {
  height: 112px;
  width: 200px;
}

.closeButtonDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
}
.closeButton {
  position: absolute;
  background-color: transparent;
  border: none;
  height: 52px;
  width: 52px;
  top: 24px;
  right: 24px;
  padding: 0;
}
.closeButton:hover {
  background-color: transparent;
  cursor: pointer;
}
.videoContainer {
  position: absolute;
  top: 52px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.navButton {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
}
.carouselDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.videoButton {
  position: absolute;
  top: 25px;
  margin: 8px;
  width: 200px;
  height: 112px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}
.leftArrow {
  background-color: transparent;
  border: none;
}
@media (max-width: 1440px) {
  .navButton {
    display: none;
  }
}
@media (max-width: 1440px) and (min-width: 1024px) {
  .carouselDiv {
    max-height: 132px;
    background-color: black;
    position: absolute;
    bottom: 0;
  }
  .carouselImage {
    width: 144px;
    height: 84px;
  }
  .carouselImageRelative {
    width: 144px;
    height: 84px;
  }
  .carouselImageAbsolete {
    width: 59px;
    height: 16px;
    top: 33px;
    left: 44px;
  }
  .closeButtonDiv {
    position: absolute;
    max-height: 75px;
    top: 0px;
  }

  .videoContainer {
    position: absolute;
    top: 29px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .carouselDiv {
    position: absolute;
    bottom: 0;
    max-height: 92px;
    background-color: black;
    align-items: center;
  }
  .carouselImage {
    width: 102px;
    height: 60px;
  }
  .carouselImageRelative {
    width: 102px;
    height: 60px;
  }
  .carouselImageAbsolete {
    width: 59px;
    height: 16px;
    top: 22px;
    left: 22px;
  }
  .closeButtonDiv {
    position: absolute;
    top: 0px;
    max-height: 75px;
  }
  .videoContainer {
    position: absolute;
    top: 145px;
  }
}
@media (max-width: 768px) and (min-width: 375px) {

}
